.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex !important;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 16px;
    top: 0px;
    height: 100%;
    z-index: 201;
  }
  .hamburger-menu svg {
    width: 28px;
    height: 28px;
    stroke: #222;
  }
}
